// Common and customizable property
$primary-color: #f8b500;
$primary-color-light: #ffedbd;
$primary-color-strong: orange;
$title-text-color: white;
$circle-background-color: white;

// Elements
.timeline-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .timeline {
    display: flex;
    align-items: center;
    width: 800px;
    height: 3px;
    background: $primary-color;
    box-shadow: 0 0 3px 1px $primary-color-strong;

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      left: 800px;
      background-color: $circle-background-color;
      border-radius: 50%;
      animation: glow 0.7s infinite alternate;

      @keyframes glow {
        from {
          box-shadow: 0 0 8px 2px $primary-color-strong;
        }
        to {
          box-shadow: 0 0 8px 6px $primary-color-strong;
        }
      }
    }
  }
}