* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.timeline-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  
  .timeline {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    height: 3px;
    background: #f8b500;
    box-shadow: 0 0 3px 1px orange;

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      left: 80%;
      background-color: white;
      border-radius: 50%;
      animation: glow 0.7s infinite alternate;

      @keyframes glow {
        from {
          box-shadow: 0 0 8px 2px orange;
        }
        to {
          box-shadow: 0 0 8px 6px orange;
        }
      }
    }

    &:hover::after {
      cursor: pointer;
    }
    
    .history-container {
      position: absolute;
      width: 150px;
      height: 200px;
      padding: 5px;
      background-color: white;
      border: 5px ridge #f8b500;
      border-radius: 10px;
    }
    
    .top {
      top: calc(50% - 305px);
      left: 100px;  // state-calculated value
      
      // connection line
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 77px;
        top: 205px;
        left: 74px;
        background-color: #f8b500;
        box-shadow: 0 0 2px 0 lightgoldenrodyellow;
      }
      
      // history circle
      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        top: 289px;
        left: 63px;
        background-color: white;
        border: 4px solid #f8b500;
        border-radius: 50%;
        transition: all 200ms ease;
        box-shadow: 0 0 2px 1px orange;
      }
      
      &:hover::after {
        cursor: pointer;
        box-shadow: 0 0 10px 3px orange;
      }
    }
    
    .bottom {
      top: calc(50% + 100px);
      left: 300px;  // state-calculated value
      
      // connection line
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 77px;
        top: -85px;
        left: 74px;
        background-color: #f8b500;
        box-shadow: 0 0 2px 0 lightgoldenrodyellow;
      }
      
      // history circle
      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        top: -115px;
        left: 63px;
        background-color: white;
        border: 4px solid #f8b500;
        border-radius: 50%;
        transition: all 200ms ease;
        box-shadow: 0 0 2px 1px orange;
      }
      
      &:hover::after {
        cursor: pointer;
        box-shadow: 0 0 10px 3px orange;
      }
    }
    
  }
}


