* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.timeline-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  
  .timeline {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    height: 3px;
    background: #f8b500;
    box-shadow: 0 0 3px 1px orange;

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      left: 80%;
      background-color: white;
      border-radius: 50%;
      animation: glow 0.7s infinite alternate;

      @keyframes glow {
        from {
          box-shadow: 0 0 8px 2px orange;
        }
        to {
          box-shadow: 0 0 8px 6px orange;
        }
      }
    }

    &:hover::after {
      cursor: pointer;
    }
    
    .history-container {
      position: relative;
      left: 100px;
      background-color: white;
      
      &::after {
        background-color: white;
        width: 20px;
        height: 20px;
        border: 4px solid #f8b500;
        border-radius: 50%;
        transition: all 200ms ease;
      }
      
      &:hover::after {
        cursor: pointer;
        box-shadow: 0 0 10px 3px orange;
      }
    }
    
    .top {
      top: -100px; 
    }
    
  }
}


