* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.timeline-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  
  .timeline {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    height: 3px;
    background: #f8b500;
    box-shadow: 0 0 3px 1px orange;

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      left: 80%;
      background-color: white;
      border-radius: 50%;
      animation: glow 0.7s infinite alternate;

      @keyframes glow {
        from {
          box-shadow: 0 0 8px 2px orange;
        }
        to {
          box-shadow: 0 0 8px 6px orange;
        }
      }
    }

    &:hover::after {
      cursor: pointer;
    }
    
    .history-container {
      position: absolute;
      width: 200px;
      height: 250px;
      background-color: white;
      border: 3px solid #f8b500;
      border-radius: 5px;
      
      .head {
        height: 40px;
        background-color: #f8b500;
        padding: 3px;
        
        .date {
          color: white;
          font-size: x-small;
        }
        
        .title {
          color: white;
          font-size: small;
        }
      }
      
      .body {
        height: 204px;
        background-color: #ffedbd;
        padding: 5px;
      }
    }
    
    .top {
      top: calc(50% - 300px);
      left: 100px;  // state-calculated value
      
      // direction arrow
      &::before {
        content: '';
        position: absolute;
        top: 247px;
        left: calc(200px / 2 - 13px);
        border: medium solid white;
        border-width: 20px 10px 0 10px;
        border-color: #f8b500 transparent transparent transparent;
      }
      
      // history circle
      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        top: calc(300px - 13px);
        left: calc(200px / 2 - 15px);
        background-color: white;
        border: 4px solid #f8b500;
        border-radius: 50%;
        transition: all 200ms ease;
        box-shadow: 0 0 2px 1px orange;
      }
      
      &:hover::after {
        cursor: pointer;
        box-shadow: 0 0 10px 3px orange;
      }
    }
    
    .bottom {
      top: calc(50% + 50px);
      left: 300px;  // state-calculated value
      
      // direction arrow
      &::before {
        content: '';
        position: absolute;
        top: -23px;
        left: calc(200px / 2 - 13px);
        border: medium solid white;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #f8b500 transparent;
      }
      
      // history circle.
      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        top: -63px;
        left: calc(200px / 2 - 15px);
        background-color: white;
        border: 4px solid #f8b500;
        border-radius: 50%;
        transition: all 200ms ease;
        box-shadow: 0 0 2px 1px orange;
      }
      
      &:hover::after {
        cursor: pointer;
        box-shadow: 0 0 10px 3px orange;
      }
    }
    
  }
}


