// Common and customizable property
$primary-color: #f8b500;
$primary-color-light: #ffedbd;
$primary-color-strong: orange;
$title-text-color: white;
$circle-background-color: white;

$history-container-width: 300px;
$history-container-height: 250px;
$history-container-border: 3px;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// Elements
.timeline-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .timeline {
    display: flex;
    align-items: center;
    width: 800px;
    height: 3px;
    background: $primary-color;
    box-shadow: 0 0 3px 1px $primary-color-strong;

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      left: 800px;
      background-color: $circle-background-color;
      border-radius: 50%;
      animation: glow 0.7s infinite alternate;

      @keyframes glow {
        from {
          box-shadow: 0 0 8px 2px $primary-color-strong;
        }
        to {
          box-shadow: 0 0 8px 6px $primary-color-strong;
        }
      }
    }

    &:hover::after {
      cursor: pointer;
    }
  }
}


.history-container {
  position: absolute;
  width: $history-container-width;
  height: $history-container-height;
  background-color: $primary-color;
  border: $history-container-border solid $primary-color;
  border-radius: 5px;

  .history-head {
    height: 17%;
    background-color: $primary-color;
    padding: 3px 5px;

    .date {
      color: $title-text-color;
      font-size: small;
    }

    .title {
      color: $title-text-color;
      font-size: small;
      font-weight: bold;
    }
  }

  .history-body {
    height: 83%;
    background-color: $primary-color-light;
    padding: 5px;
  }
}

.top {
  top: calc(50% - #{$history-container-height} - 50px);
  left: 100px;  // auto-calculated value
  transition: all 200ms ease;

  &:hover {
    box-shadow: 0 0 5px 2px $primary-color-strong;
    cursor: pointer;
  }

  // direction arrow
  &::before {
    content: '';
    position: absolute;
    top: $history-container-height - $history-container-border;
    left: calc(#{$history-container-width} / 2 - 13px);
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: $primary-color transparent transparent transparent;
  }

  // history circle
  &::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: calc(#{$history-container-height} + 50px - 13px);
    left: calc(#{$history-container-width} / 2 - 15px);
    background-color: $circle-background-color;
    border: 4px solid $primary-color;
    border-radius: 50%;
    transition: all 200ms ease;
    box-shadow: 0 0 2px 1px $primary-color-strong;
  }
  &:hover::after {
    box-shadow: 0 0 10px 3px $primary-color-strong;
  }
}

.bottom {
  top: calc(50% + 50px);
  left: 200px;  // auto-calculated value
  transition: all 200ms ease;

  &:hover {
    box-shadow: 0 0 5px 2px $primary-color-strong;
    cursor: pointer;
  }

  // direction arrow
  &::before {
    content: '';
    position: absolute;
    top: -23px;
    left: calc(#{$history-container-width} / 2 - 13px);
    border: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent $primary-color transparent;
  }

  // history circle
  &::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: -63px;
    left: calc(#{$history-container-width} / 2 - 15px);
    background-color: $circle-background-color;
    border: 4px solid $primary-color;
    border-radius: 50%;
    transition: all 200ms ease;
    box-shadow: 0 0 2px 1px $primary-color-strong;
  }
  
  &:hover::after {
    box-shadow: 0 0 10px 3px $primary-color-strong;
  }
}


.picture-1 {
  height: 100%;
  background-image: url("https://c-lj.gnst.jp/public/article/detail/a/00/00/a0000002/img/ko/a0000002_parts_57b692e981aa0.jpg?20181025165319");
	background-size: cover;
  background-repeat: space;
}

.picture-2 {
  height: 100%;
  background-image: url("https://t1.daumcdn.net/cfile/tistory/2422BC4655B843D91E");
  background-size: cover;
  background-repeat: space; 
  
}

